@{
    ViewData["Title"] = "Order";
}

<h1></h1>
<div class="alert alert-dismissible alert-success">
    <h4 class="alert-heading text-center">Order successfully paid</h4>
    <p class="mb-0 text-center">The books will soon be available for download in <a asp-controller="PersonalAccount" asp-action="ShowBoughtBooks" class="alert-link">your personal account</a>.</p>
</div>
