@{
    ViewData["Title"] = "No subscription";
}

<h1></h1>
<div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading text-center">Unfortunately you do not have a subscription</h4>
    <p class="mb-0 text-center">Would you like to <a asp-controller="PersonalAccount" asp-action="Subscribing" class="alert-link">subscribe</a>?</p>
</div>