@{
    ViewData["Title"] = "Success";
}

<h1></h1>
<div class="alert alert-dismissible alert-success">
    <h4 class="alert-heading text-center">Subscription successfully paid!</h4>
    <p class="mb-0 text-center">Now you can read books by subscription and save money.</p>
</div>